body {
    background-image: url("imagenes/coco.jpg");
    padding: 5%;
}
body button {
    font-size: 30px;
    background-color: rgb(224, 33, 33);
    color: rgb(243, 239, 240);
    padding: 20px 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#canvas {
    margin: 0 auto;
    display: block;
}

.item {
    float: left;
}

.item2 {
    color: white;
    font: oblique bold 150% cursive;
    text-align: center;   
}

.instrucción {
    font: oblique bold 150% cursive;
    color: white;
}

.personajes {
    float: right;
    margin-right: 20%;
}

.next {
    margin-left: 85%;
}